[Oo]bj
[Bb]in
*.vshost.exe*
*.pdb
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.psess
*.vsp
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
release.bat
TestResults/
bnet.doxygen/generated*/
