[Oo]bj
BattleNET/[Bb]in/
BattleNET Client/[Bb]in/
Samples/bnet/[Bb]in/
Samples/bnet.IoC/[Bb]in/
Samples/bnet.BaseCommands/[Bb]in/
*.vshost.exe*
*.pdb
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
release.bat

